{% extends "base.html" %}

{% block title %}Forsíða{% endblock %}

{% block content %}
<h1>Bankaskipan GUI</h1>
<p class="section-intro">Vælkomin til skipanina. Vel eina funktión niðanfyri.</p>

<div class="card-links">

    <a href="/kontoyvirlit" class="card">
        <h2>🏦 Mínar kontur</h2>
        <p>Her kanst tú síggja yvirlit yvir kontoir hjá einum kunda.</p>
    </a>

    <a href="/kassakladda" class="card">
        <h2>💰 Kassakladda</h2>
        <p>Her kanst tú tasta nýggjar flytingar inn í kassakladduna.</p>
    </a>

    <a href="/kontoavrit" class="card">
        <h2>📄 Kontoavrit</h2>
        <p>Her kanst tú síggja bókingar og konto-upplýsingar.</p>
    </a>

</div>
{% endblock %}