{% extends "base.html" %}

{% block title %}Um skipanina{% endblock %}

{% block content %}
<h1>Um skipanina</h1>
<p class="section-intro">
    Hetta er ein bankaskipan við GUI, gjørd í Flask, HTML og CSS.
</p>

<div class="empty-box">
    <p>
        Skipanin ger tað møguligt at arbeiða við databasu gjøgnum eina grafiska brúkaraflatu.
        Brúkarin kann skráseta kassakladdur og síggja kontoavrit uttan at brúka SQL Developer beinleiðis.
    </p>

    <p>
        Backend er ment í Python við Flask, meðan frontend er gjørd við HTML/CSS.
        Oracle-databasan verður brúkt til at goyma og heinta upplýsingar.
    </p>
</div>
{% endblock %}